@charset "UTF-8";


.divLoginFooter{
    text-align:center;

}

form.user .btn-user.font18, .font18 {
    font-size: 18px;
}

.MyAlerts {
    display: none;
}


/* My row */
.myRow {
    padding-left: 5px;
    padding-right: 5px;
}


/*my div*/
.mydiv01 {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 18px;
    padding-right: 10px;
    margin-bottom: 0px;
}
.myDivLogin {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 40px;
    padding-right: 40px;
}
.my_divCard01{
    width:100%;
}
.myDivRes300p{
    width:300px;
}
.myDivMargin01 {
    margin-bottom: 10px;
}

.mydivLoginFontError {
    text-align: center;
    color: red;
}
.mydiv-mg-bt0 {
    margin-bottom: 0px;
}
.mydiv-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

/*my font*/
.my_fontMenu01 {
   
    font-size: 18px;
    margin-right: 10px;
}
.my_fontMenu01:hover {
   
}

/*my I*/
.myI01 {
    color: #6B6C73;
}
.myI01:hover {
    color: #007bff;
    text-decoration: none;
}



/* MyLabel */
.myLabel01 {
    /* margin-right: 0px; */
    margin-bottom: 0px;
}
.myLabel02 {
    margin-right: 0px;
    margin-bottom: 0px;
}

.myLabel01_2 {
    /* margin-right: 0px; */
    margin-bottom: 0px;
    border: solid 1px #c0e5ea;
    border-radius: 4px;
    padding: 4px 40px;
    margin: 4px;
}
.myLabel04 {
    font-size: 19px;
    color: #000;
}

/* MyH4 */
.myh4_01 {
    margin-bottom: 5px;
    font-size:18px;
    font-weight:700;
}


/*my th*/
.my_th01 {
    text-align: center;
    font-size: 15px;
    position: relative;
    padding-right: 30px !important;
    vertical-align: middle !important;
    padding-bottom: 6px !important;
    padding-top: 6px !important;
}
.my_th02 {
    text-align: center;
    font-size: 13px;
    position: relative;
    padding-right: 30px !important;
    vertical-align: middle !important;
    padding-bottom: 5px !important;
    padding-top: 5px !important;
}

.my_th01 i{
    position: absolute;
    right: 7px;
    bottom: 15px;
    color:#4e73df;
}
.my_th01 a{
    text-decoration: none;
    color: #858796;
}

.my_thEdit01 {
    text-align: center;
    font-size: 18px;
    position: relative;
    padding-right: 30px !important;
    color: #858796;
}
.my_thEdit01 i {
    position: absolute;
    right: 7px;
    bottom: 15px;
    color:#4e73df;
}
.my_thEdit01 a {
    color: #858796;
    text-decoration: none;
}
.my_thPosition01 {
    position: sticky;
    top: 0;
    border: 1px solid #dee2e6 !important;
    border-top: 3px solid #dee2e6;
    border-bottom: 3px solid #dee2e6;
    background: white;
}
.my_thPosition02 {
    position: sticky;
    top:36px;
    border: 1px solid #dee2e6 !important;
    border-top: 3px solid #dee2e6;
    border-bottom: 3px solid #dee2e6;
    background: white;
}





/*td*/
.myTdIndex01 {
    text-align: center;
}
.myTdCenter{
    text-align:center;
}
.myTdRight {
    text-align: right;
}
.myTdLeft {
    text-align: left;
}
.myTd02 {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}
.myTd02 {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
/*my text */
.my_text_Center {
    text-align: center;
}
.my_text_Left {
    text-align: left;
}
.my_text_Right {
    text-align: right;
}


/*Title*/
myTitle01. {
    color: #6B6C73;
}


/*my intput */
.myInput01:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}
.myInputTotalBalanced {
    background-color: #5DFF5D !important;
}
.myInputTotalNotBalanced {
    background-color: #FAFF69 !important;
}
/*my selectbox */
.mySelectBox01:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}

.myResWidth100{
    width:100%;
}



/*my toast*/
.toast.success .toast-header {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
    font-size: 18px;
}
.toast.success .toast-body {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
    padding-left: 40px;
    padding-right: 40px;
}

.toast.danger .toast-header {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
    font-size: 18px;
}
.toast.danger .toast-body {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
    padding-left: 40px;
    padding-right: 40px;
}

.toast.warning .toast-header {
    background-color: #fff3cd;
    color: #856404;
    border-color: #ffeeba;
    font-size: 18px;
}

.toast.warning .toast-body {
    background-color: #fff3cd;
    color: #856404;
    border-color: #ffeeba;
    padding-left: 40px;
    padding-right: 40px;
}

/*my btn*/
.mybtn02 {
    width: 24%;
    font-size: 16px;
    margin-bottom: 5px;
}
.mybtn03 {
    font-size: 16px;
    margin-bottom: 5px;
}
.btn-outline-primary-Myhover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.mybtn-Excel {
    color: #fff;
    background-color: #188c33;
    border-color: #265430;
}
.mybtn-PDF {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}




/* My col  */
.myCol {
    padding-right: 5px;
    padding-left: 5px;
}
.myCol_pd_1 {
    padding-right: 5px;
    padding-left: 5px;
}


/* My Body */
#myBody {
    color: #71748d;
}

.myBody01 {
    padding-top: 5px;
    padding-bottom: 15px;
}
.mydivBodyPage {
    padding-left: 5px;
    padding-right: 5px;
    margin: auto;
    box-shadow: 0px 0px 5px 5px #f8f8f8;
}


/*my margin*/
.myMargin_bt01{
    margin-bottom:5px;
}




/*PRC Save //////////////////////////////////////////////////////*/
.my_divborder {
    height: 160px;
}


/* my font */
.my_fontTitleWeb {
    display: block;
    font-size: 24px;
    color: #0000fe;
}

.my_fontTitleMoblic {
    display: none;
    font-size: 24px;
    color: #0000fe;
}

/* MyH4 */
.myh4_01 {
    margin-bottom: 5px;
}
.myh5 {
    font-size: 15px;
    line-height: 26px;
}

.myH4_02 {
    font-size: 20px;
    line-height: 26px;
    color: #3d405c;
    font-family: 'Kanit', sans-serif;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

/* MyLabel */
.myLabel01 {
    /* margin-right: 0px; */
    margin-bottom: 0px;
}

.myLabel02 {
    margin-right: 0px;
    margin-bottom: 0px;
}

.myLabel03 {
    color: #000;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}


.my_card_head {
    background-color: #008ECC;
    color: #FFF;
}


.main-language {
    display: flex;
    align-items: center;
    height: 4.375rem;
    padding: 0 .75rem;
}
.main-language .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 134px;
}

.main-language ul.dropdown-menu.show {
    position: relative;
}

.main-language ul.dropdown-menu.show a.dropdown-item {
    padding-left: 13px;
}

.main-language .bootstrap-select.show-tick .dropdown-menu li a span.text {
    margin-right: 0px;
}

.main-language .bootstrap-select.show-tick .dropdown-menu .selected span.check-mark {
    right: 7px;
    top: 5px;
    font-size: 12px;
}

.main-language .dropdown.bootstrap-select img {
    max-width: 24px;
    max-height: 24px;
    margin-top: -1px;
}

.main-language .dropdown.bootstrap-select .btn, .main-language .dropdown .dropdown-menu {
    background: #eee;
    font-size: 0.85rem;
}
.img-select {
    margin-right: 7px;
}



/* MY A  */
.myA {
    padding: 13px 20px;
    font-size: 16px;
    color: #82849f;
    line-height: 2;
}

.myA:hover {
    color: #007bff;
    cursor: pointer; /* cursor:pointer เวลาเอาเมาส์ชี้ จะเป็นรูปมือ */
    text-decoration: none; /*เอาเส้นใต้ออก*/
}

.nav-user-info {
    background-color: #5969ff;
    line-height: 1.4;
    padding: 7px 14px 7px 14px;
    color: #fff;
    font-size: 13px;
    border-radius: 2px 2px 0 0;
}
.nav-user-dropdown .dropdown-item {
    display: block;
    width: 100%;
    padding: 12px 22px 15px;
    clear: both;
    font-weight: 400;
    color: #686972;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-size: 13px;
    line-height: 0.4;
}
.dropdown-item:hover {
    color: #5969ff;
    background: #efeff6;
}
.nav-user-dropdown .dropdown-item:hover {
    background-color: #f7f7fb;
}


.mydivDoneGreen {
    width: 100%;
    text-align: center;
    color: #4ed94e;
    font-size: 35px;
}

.mydivDone02 {
    width: 100%;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

.mydivDone03 {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    color: #000;
    margin-bottom: 20px;
}
.mydivDoneCovidLevel4 {
    width: 100%;
    text-align: center;
    color: #66CCFF;
    font-size: 35px;
}
.mydivDoneCovidLevel3 {
    width: 100%;
    text-align: center;
    color: #228B22;
    font-size: 35px;
}
.mydivDoneCovidLevel2 {
    width: 100%;
    text-align: center;
    color: #FF0000;
    font-size: 35px;
}
.mydivDoneCovidLevel1 {
    width: 100%;
    text-align: center;
    color: #990000;
    font-size: 35px;
}

.CovidTextShowSrc {
    max-height: 70vh;
    max-width: 90vh;
    overflow: auto;
}


.my-ul {
    display: block;
    list-style-type: disc;
    list-style-type: none;
}